.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.midbtn{
  margin: 20px 0 20px 0;
  
}

.clrfix{
  clear: both;
}
.lftbtn,.rtbtn{
  margin-left: 10px;
  float: left;
}

.rtbtn{
  float: right;
}
.downbtn{
  margin-top: 20px;
}

td{
  padding: 10px;
  background: grey;
  color:white;
}
table{
  width: 400px;
  margin: 0 auto;
}

.cell{
  background: red;
}
.remote{
  width: 142px;
  margin: 20px auto;
  height: 105px;
  background: yellowgreen;
}
